<div class="form-cont necklace">
	<div class="slot left" data-necklace-side="left"></div>
	<div class="slot right" data-necklace-side="right"></div>
	<img class="form-image" src="<%=images.full%>" alt="" />
</div>
