<!-- back btn -->
<div class="f-left">

	<a href="#" class="btn alt back">
		<span class="icon-arrow-left"></span>
		back
	</a>

	<a href="#" class="btn alt restart">
		<span class="icon-restart"></span>
		start over
	</a>

</div>


<div class="f-right help">Contact a Stylist: Call 1-888-660-2910 (M-F / 9am – 6pm EST)</div>


<div class="clearfix"></div>