<div class="fixed-aside">
	<% if(hasCharmHolder) { %>
		Simply click and drag your selections onto a<br/>charm catcher &ndash; and start creating
	<% } else { %>
		Simply click and drag your<br/>charms &ndash; and start creating
	<% } %>

	<div class="charm-count-info">Add up to <%= maxCharms %> charms</div>

</div>