<div class="vcenter-child">

	<h1 class="title">Collect. Curate. Create.</h1>

	<h2 class="subtitle">TURN YOUR MOST MEMORABLE MOMENTS INTO<br/>ONE-OF-A-KIND CREATIONS WITH OUR CHARM CREATOR.</h2>

	<a href="#" class="start btn">start here</a>

</div>