.dropdown-menu-view {
	
	.custom-select {

		width: 230px;
		border: 2px solid $ip-grey-lt;
		background: transparent url(../images/dropdown-menu-arrow.png) 94% 50% no-repeat;
		@include box-shadow( rgba(0, 0, 0, 0.2) 0px 0px 5px 0px inset);

		select {
			padding: 10px 15px 7px;
			cursor: pointer;
			width: 100%;
			color: $black;

			outline: none;
			border: none;
			box-shadow: none;
			background-color: transparent;
			background-image: none;

			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
				
			font-size: 12px;
			text-indent: 0.01px;
			text-overflow: '';
			text-transform: uppercase;
		}

	}	

}