$page-gutter-x: 60px;
$page-gutter-y: 20px;

$white: #fff;
$black: #000;

$ip-blue-dk: #0E2544;
$ip-blue-lt: #D5DBE5;
$ip-grey: #939597;
$ip-grey-lt: #d3d4d6;

$helv-ext-lt: "HelveticaNeueW01-LtExt";
$helv-ext-thin: "HelveticaNeueW01-ThinEx 710288";
$helv-ext-md: "HelveticaNeueW01-MdExt";
$helv-ext-ultra-lt: 'HelveticaNeueW01-UltLtE 710282';
